HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
.mvn/ 

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/src/main/resources/pupetter-pdf/node_modules/**
package-lock.json


### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
!**/src/main/**/build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
