<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Puppeteer PDF Generate In Springboot Application With NodeJs</title>
</head>
<body>

<h1>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</h1>
<h3 th:text="${'name    : ' + name}"></h3>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam tristique purus sed ornare dictum. Nulla volutpat libero diam, id varius magna varius in. Pellentesque non dignissim velit, non tempus libero. Vivamus quis euismod augue. Praesent viverra ex vitae urna placerat scelerisque. Aliquam a eleifend neque. Donec ultricies, nisl ornare eleifend mollis, risus leo mollis neque, ac finibus magna erat et ante. Etiam sodales mi et diam tristique, at ultricies nunc scelerisque. Integer consequat magna a ligula porta, vitae mattis massa tincidunt. Praesent consequat porta erat eget elementum. Sed elementum lectus justo, eu vulputate tortor eleifend vitae. Nunc quis orci auctor, vehicula felis non, tempus arcu. Pellentesque et felis dignissim, sollicitudin tellus ut, porttitor lacus. Sed in maximus enim. Suspendisse velit leo, scelerisque nec nulla nec, sollicitudin sollicitudin elit.
</p>
<!--This for demosrate puprpose only where we pass the value from backend application to UI-->

<p>Etiam auctor auctor odio, eu efficitur purus laoreet id. Duis id dignissim augue. Praesent pellentesque dolor elementum volutpat venenatis. Donec vitae libero posuere nisi varius accumsan at in nibh. Vivamus viverra dui et nisl ornare commodo. Donec hendrerit ligula varius, hendrerit diam et, volutpat massa. Ut ut neque nisi. Aliquam non auctor odio. Quisque tristique, sem nec pellentesque pellentesque, quam tellus volutpat odio, sit amet accumsan lacus diam id neque. Quisque sit amet egestas urna, id scelerisque neque. Donec fringilla placerat turpis, id vehicula dolor eleifend in. Nullam porttitor laoreet leo quis consectetur. Cras eu elit quis tellus pharetra vulputate vel ac justo. Suspendisse mollis ac eros rutrum consectetur.</p>

<p>Nullam lacinia bibendum ullamcorper. Praesent mollis, sem ac viverra venenatis, dolor tortor semper diam, vitae bibendum turpis eros sed justo. Nulla cursus laoreet magna in euismod. Aliquam aliquet sit amet lectus ac gravida. In tempor a orci sit amet sagittis. Nunc at elit sit amet urna euismod euismod. Suspendisse potenti. Aenean a purus et orci pulvinar congue iaculis nec libero. Nullam vehicula nunc et pharetra consectetur. Nam viverra pharetra velit porttitor tempor. Maecenas sed euismod elit, et viverra lacus. Etiam vel nisl ut ex sodales tempus ut mattis risus. Phasellus luctus dolor mauris, et semper purus fermentum non. Aenean dapibus velit enim, aliquet mattis augue pellentesque ullamcorper.

</p>

</body>
</html>